<template>
	<div class="footer">
		<div class="timeline-box">
			<div class="todo-count"></div>
			<div class="info">
				<div class="box-item"><strong>Edit a task</strong>: Double-click on its label.</div>
				<div class="box-item"><strong>Creator</strong>: A Dakar's 01Talent team.</div>
			</div>
			<div class="clear-completed"></div>
		</div>
	</div>
</template>

<style>
	.clear-completed {
		padding: 5px 15px;
		border-top: 1px solid #17191B;
		background-color: #444950;
		text-align: right;
		font-style: italic;
		border-bottom-left-radius: 15px;
	}
	.clear-completed span {cursor: pointer;}
	.clear-completed span:hover {text-decoration: underline;}
	.todo-count {
		padding: 5px 15px;
		border-bottom: 1px solid #17191B;
	}
	.todo-count i {
		margin-right:5px;
		color: lawngreen;
	}
	.info {
		padding: 5px 15px;
		background-color: #17191B;
		text-align: center;
	}
	.info strong {
		color: #666;
		font-style: italic;
		margin-right: 5px;
		text-transform: uppercase;
	}
	.box-item {
		margin-bottom: 5px;
	}
	.footer {
		color: beige;
	}
	.timeline-box {
		position: relative;
		background-color: #444950;
		border-radius: 15px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border: 1px solid #17191B;
		transition: all 0.3s ease;
	}
</style>
